In [13]:
import re
import pandas as pd

# Merge authors generated data
Cargamos los datos generados de los autores, tenemos dos archivos diferentes que deberían tener los mismos resultados. Tenemos dos resultados porque lo ejecutamos dos veces, en la primera tuvimos errores con guardando los nuevos libros y tuvimos que volver a ejecutarla.

Cargamos los dos datos generadados.

En los datos generados por segunda vez, rellenamos los NAs en la columna **genres** por los valores del author1, con esto conseguimos eliminar algunos NAs.

Podriamos hacer lo mismo con la columna libros pero como los libros que tiene los primeros datos no tenemos su información guardada, no tendría sentido porque luego no los podríamos referenciar.

In [14]:
input_folder = "../generated/"
output_folder = "../clean_data/"

authors1 = pd.read_csv(input_folder + "authors0.csv")
authors2 = pd.read_csv(input_folder + "authors2.csv")


print(authors1.isna().sum())
print(authors2.isna().sum())



authors1['Books'].replace("[]", pd.NA, inplace=True)


authors2['Genres'].fillna(authors1['Genres'], inplace=True)

print(authors1.isna().sum())
print(authors2.isna().sum())


authors2.to_csv(output_folder + "authors.csv", index=False)

Name             0
Birth Year     473
Genres        1243
Books          240
dtype: int64
Name             0
Birth Year     473
Genres        1224
Books          239
dtype: int64
Name             0
Birth Year     473
Genres        1243
Books         1231
dtype: int64
Name             0
Birth Year     473
Genres        1208
Books          239
dtype: int64

# Merge books generated data

Tenemos tres archivos
- books2 que aprovechamos los datos del dataset Books que descargamos y le generamos nuevas columnas de información con la api de wikipedia.

- new_books1 libros que hemos añadido porque su autor estaba en nuestra base de datos.
- new_books2 es la continuación de new_books1 que hemos ejecutado después de que la de new_books1 se nos detuviera.

In [15]:
books = pd.read_csv(input_folder + "books2.csv")

print(f"Books without rating: {sum(books['Rating Count'] == 0)}")

books

Books without rating: 0

,Wikipedia ID,Freebase ID,Book Title,Author,Publication Year,Genres,Summary,Rating Count,Average Rating,Number of Pages,Best Seller,Film,Saga,Followed by,Preceded by
0,7956168,/m/026lcx6,The Kitchen God's Wife,Amy Tan,1991.0,NaN,The Kitchen God's Wife opens with the narrati...,116.0,8.280000,4151.0,No,Yes,No,NaN,NaN
1,1703697,/m/05pr53,The Testament,John Grisham,1999.0,"['Thriller', 'Fiction', 'Suspense']","Troy Phelan, an eccentric elderly billionaire...",261.0,7.544643,330.0,No,No,No,NaN,NaN
2,999996,/m/03y389,Airframe,Michael Crichton,1996.0,"['Science Fiction', 'Novel']",The novel opens aboard Hong Kong-based Transp...,129.0,7.719298,352.0,No,No,No,NaN,NaN
3,1298672,/m/04qyx7,Timeline,Michael Crichton,1999.0,"['Science Fiction', 'Fiction', 'Suspense']","In the middle of the New Mexico desert, a vac...",263.0,8.052083,464.0,No,Yes,No,Airframe,Prey
4,73408,/m/0jqbz,To Kill a Mockingbird,Harper Lee,1960.0,['Fiction'],The book opens with the Finch family's ancest...,267.0,9.043165,281.0,Yes,Yes,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4732,4760716,/m/0clxxp,The Game-Players of Titan,Philip K. Dick,1963.0,"['Science Fiction', 'Speculative fiction', 'Fa...","Pete Garden, the protagonist, is one of sever...",1.0,7.000000,191.0,No,No,No,NaN,NaN
4733,480566,/m/02fmjq,Galactic Pot-Healer,Philip K. Dick,1969.0,"['Science Fiction', 'Speculative fiction', 'Fi...",The novel takes place in a dismal future Amer...,1.0,8.000000,144.0,No,No,No,NaN,NaN
4734,2497286,/m/07h_l2,Solar Lottery,Philip K. Dick,1955.0,"['Science Fiction', 'Speculative fiction', 'Fi...",Solar Lottery takes place in a world dominate...,1.0,7.000000,188.0,No,No,No,NaN,NaN
4735,23616820,/m/06zktr5,Le Sang noir,Louis Guilloux,1935.0,NaN,"One day in 1917 an aging philosophy tutor, ni...",1.0,NaN,NaN,No,Yes,No,NaN,NaN
4736,23328624,/m/09k7b62,Wild Geese,Martha Ostenso,1925.0,['Historical novel'],"Lind Archer, a teacher from the city, has com...",1.0,7.000000,NaN,No,Yes,No,NaN,NaN

In [16]:
new_books1 = pd.read_csv(input_folder + "new_books1.csv")
new_books1

,Book Title,Author,Publication Year,Genres,Summary,Rating Count,Average Rating,Number of Pages,Best Seller,Film,Saga,Preceded by,Followed by
0,The Joy Luck Club (novel),Amy Tan,1989,['Fiction'],The Joy Luck Club consists of sixteen interloc...,NaN,NaN,288.0,False,True,NaN,NaN,NaN
1,The Hundred Secret Senses,Amy Tan,1995,['Novel'],The story focuses on the relationship between ...,NaN,NaN,3581.0,True,False,NaN,NaN,NaN
2,Saving Fish from Drowning,Amy Tan,2005,NaN,The story concerns a group of American tourist...,NaN,NaN,474.0,False,False,NaN,NaN,NaN
3,The Valley of Amazement,Amy Tan,2013,['Historical fiction'],"In the first part of the story, Violet tells t...",NaN,NaN,608.0,False,False,NaN,NaN,NaN
4,The Chinese Siamese Cat,Amy Tan,1994,"[""Children's book""]",NaN,NaN,NaN,32.0,False,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3992,The Devil's Voyage,Jack L. Chalker,1981,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN
3993,The Identity Matrix,Jack L. Chalker,1982,['Science fiction'],NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN
3994,Fires of Winter,Johanna Lindsey,1980,['Romance'],NaN,NaN,NaN,NaN,False,False,NaN,NaN,Hearts Aflame
3995,Hearts Aflame (novel),Johanna Lindsey,1987,NaN,NaN,NaN,NaN,368.0,False,False,NaN,Fires of Winter,Surrender My Love
3996,Eyes of the Calculor,Sean McMullen,2001,['Science fiction'],"Mirrorsun, which orbits Earth and prevents ele...",NaN,NaN,NaN,False,False,Greatwinter,"Souls in the Great Machine,The Miocene Arrow",NaN

In [17]:
new_books2 = pd.read_csv(input_folder + "new_books2.csv")
new_books2

,Book Title,Author,Publication Year,Genres,Summary,Rating Count,Average Rating,Number of Pages,Best Seller,Film,Saga,Preceded by,Followed by
0,Studs Lonigan,Joseph Krumgold,1960,NaN,NaN,NaN,NaN,NaN,False,True,NaN,NaN,NaN
1,In the Forests of the Night,Amelia Atwater-Rhodes,1999,"['Gothic', ' Horror', ' Vampire', ' Teen']","According to Atwater-Rhodes' official site, Th...",NaN,NaN,147.0,False,False,Den of Shadows,NaN,Demon in My View(2000)
2,Demon in My View,Amelia Atwater-Rhodes,2000,"['Gothic', ' Horror', ' Vampire', ' Teen']",The book is set in the fictional town of Ramsa...,NaN,NaN,176.0,False,False,Den of Shadows,In the Forests of the Night(1999),Shattered Mirror(2001)
3,Shattered Mirror,Amelia Atwater-Rhodes,2001,"['Gothic', ' Horror', ' Vampire', ' Teen']",NaN,NaN,NaN,227.0,False,False,Den of Shadows,Demon in My View(2000),Midnight Predator(2002)
4,Midnight Predator,Amelia Atwater-Rhodes,2002,"['Gothic', ' Horror', ' Vampire', ' Teen']",NaN,NaN,NaN,248.0,False,False,Den of Shadows,Shattered Mirror(2001),Hawksong(2003)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2574,Road to the Stilt House,David Adams Richards,1985,['Novel'],NaN,NaN,NaN,NaN,False,False,NaN,Lives of Short Duration,Nights Below Station Street
2575,Evening Snow Will Bring Such Peace,David Adams Richards,1990,['Novel'],NaN,NaN,NaN,NaN,False,False,Miramichi Trilogy,Nights Below Station Street,For Those Who Hunt the Wounded Down
2576,The Bay of Love and Sorrows,David Adams Richards,1998,NaN,"Like many of Richards's books, The Bay of Love...",NaN,NaN,NaN,False,True,NaN,NaN,NaN
2577,Principles to Live By,David Adams Richards,2016,['Novel'],NaN,NaN,NaN,NaN,False,False,NaN,Crimes Against My Brother,NaN
2578,Wild Geese (novel),Martha Ostenso,1925,"['Historical novel', ' Naturalism']",NaN,NaN,NaN,3561925.0,False,True,NaN,NaN,NaN

Concatenamos los dos datasets de new_books. Los nuevos libros no tienen rating, por eso, su columna de rating count debe ser 0.

In [18]:
new_books = pd.concat([new_books1, new_books2], ignore_index=True)
new_books['Rating Count'].fillna(0, inplace=True)
new_books

,Book Title,Author,Publication Year,Genres,Summary,Rating Count,Average Rating,Number of Pages,Best Seller,Film,Saga,Preceded by,Followed by
0,The Joy Luck Club (novel),Amy Tan,1989,['Fiction'],The Joy Luck Club consists of sixteen interloc...,0.0,NaN,288.0,False,True,NaN,NaN,NaN
1,The Hundred Secret Senses,Amy Tan,1995,['Novel'],The story focuses on the relationship between ...,0.0,NaN,3581.0,True,False,NaN,NaN,NaN
2,Saving Fish from Drowning,Amy Tan,2005,NaN,The story concerns a group of American tourist...,0.0,NaN,474.0,False,False,NaN,NaN,NaN
3,The Valley of Amazement,Amy Tan,2013,['Historical fiction'],"In the first part of the story, Violet tells t...",0.0,NaN,608.0,False,False,NaN,NaN,NaN
4,The Chinese Siamese Cat,Amy Tan,1994,"[""Children's book""]",NaN,0.0,NaN,32.0,False,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6571,Road to the Stilt House,David Adams Richards,1985,['Novel'],NaN,0.0,NaN,NaN,False,False,NaN,Lives of Short Duration,Nights Below Station Street
6572,Evening Snow Will Bring Such Peace,David Adams Richards,1990,['Novel'],NaN,0.0,NaN,NaN,False,False,Miramichi Trilogy,Nights Below Station Street,For Those Who Hunt the Wounded Down
6573,The Bay of Love and Sorrows,David Adams Richards,1998,NaN,"Like many of Richards's books, The Bay of Love...",0.0,NaN,NaN,False,True,NaN,NaN,NaN
6574,Principles to Live By,David Adams Richards,2016,['Novel'],NaN,0.0,NaN,NaN,False,False,NaN,Crimes Against My Brother,NaN
6575,Wild Geese (novel),Martha Ostenso,1925,"['Historical novel', ' Naturalism']",NaN,0.0,NaN,3561925.0,False,True,NaN,NaN,NaN

Eliminamos "(novel)" del título de los nuevos libros generados

In [19]:
new_books['Book Title'] = new_books['Book Title'].apply(lambda x: re.sub(r'\([^)]*\)', '', x))
new_books

,Book Title,Author,Publication Year,Genres,Summary,Rating Count,Average Rating,Number of Pages,Best Seller,Film,Saga,Preceded by,Followed by
0,The Joy Luck Club,Amy Tan,1989,['Fiction'],The Joy Luck Club consists of sixteen interloc...,0.0,NaN,288.0,False,True,NaN,NaN,NaN
1,The Hundred Secret Senses,Amy Tan,1995,['Novel'],The story focuses on the relationship between ...,0.0,NaN,3581.0,True,False,NaN,NaN,NaN
2,Saving Fish from Drowning,Amy Tan,2005,NaN,The story concerns a group of American tourist...,0.0,NaN,474.0,False,False,NaN,NaN,NaN
3,The Valley of Amazement,Amy Tan,2013,['Historical fiction'],"In the first part of the story, Violet tells t...",0.0,NaN,608.0,False,False,NaN,NaN,NaN
4,The Chinese Siamese Cat,Amy Tan,1994,"[""Children's book""]",NaN,0.0,NaN,32.0,False,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6571,Road to the Stilt House,David Adams Richards,1985,['Novel'],NaN,0.0,NaN,NaN,False,False,NaN,Lives of Short Duration,Nights Below Station Street
6572,Evening Snow Will Bring Such Peace,David Adams Richards,1990,['Novel'],NaN,0.0,NaN,NaN,False,False,Miramichi Trilogy,Nights Below Station Street,For Those Who Hunt the Wounded Down
6573,The Bay of Love and Sorrows,David Adams Richards,1998,NaN,"Like many of Richards's books, The Bay of Love...",0.0,NaN,NaN,False,True,NaN,NaN,NaN
6574,Principles to Live By,David Adams Richards,2016,['Novel'],NaN,0.0,NaN,NaN,False,False,NaN,Crimes Against My Brother,NaN
6575,Wild Geese,Martha Ostenso,1925,"['Historical novel', ' Naturalism']",NaN,0.0,NaN,3561925.0,False,True,NaN,NaN,NaN

Eliminamos las columunas wikipedia id y free base id porque no aportan información.

Convertimos de variables flotantes a enteras number of pages, rating count y publication year.

In [20]:
books = books.drop(['Wikipedia ID', 'Freebase ID'], axis=1)
books['Number of Pages'].fillna(pd.NA, inplace=True)
books['Number of Pages'] = books['Number of Pages'].astype(pd.Int64Dtype())
books['Rating Count'] = books['Rating Count'].astype(int)

books['Publication Year'].fillna(pd.NA, inplace=True)
books['Publication Year'] = books['Publication Year'].astype(pd.Int64Dtype())
books

,Book Title,Author,Publication Year,Genres,Summary,Rating Count,Average Rating,Number of Pages,Best Seller,Film,Saga,Followed by,Preceded by
0,The Kitchen God's Wife,Amy Tan,1991,NaN,The Kitchen God's Wife opens with the narrati...,116,8.280000,4151,No,Yes,No,NaN,NaN
1,The Testament,John Grisham,1999,"['Thriller', 'Fiction', 'Suspense']","Troy Phelan, an eccentric elderly billionaire...",261,7.544643,330,No,No,No,NaN,NaN
2,Airframe,Michael Crichton,1996,"['Science Fiction', 'Novel']",The novel opens aboard Hong Kong-based Transp...,129,7.719298,352,No,No,No,NaN,NaN
3,Timeline,Michael Crichton,1999,"['Science Fiction', 'Fiction', 'Suspense']","In the middle of the New Mexico desert, a vac...",263,8.052083,464,No,Yes,No,Airframe,Prey
4,To Kill a Mockingbird,Harper Lee,1960,['Fiction'],The book opens with the Finch family's ancest...,267,9.043165,281,Yes,Yes,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4732,The Game-Players of Titan,Philip K. Dick,1963,"['Science Fiction', 'Speculative fiction', 'Fa...","Pete Garden, the protagonist, is one of sever...",1,7.000000,191,No,No,No,NaN,NaN
4733,Galactic Pot-Healer,Philip K. Dick,1969,"['Science Fiction', 'Speculative fiction', 'Fi...",The novel takes place in a dismal future Amer...,1,8.000000,144,No,No,No,NaN,NaN
4734,Solar Lottery,Philip K. Dick,1955,"['Science Fiction', 'Speculative fiction', 'Fi...",Solar Lottery takes place in a world dominate...,1,7.000000,188,No,No,No,NaN,NaN
4735,Le Sang noir,Louis Guilloux,1935,NaN,"One day in 1917 an aging philosophy tutor, ni...",1,NaN,<NA>,No,Yes,No,NaN,NaN
4736,Wild Geese,Martha Ostenso,1925,['Historical novel'],"Lind Archer, a teacher from the city, has com...",1,7.000000,<NA>,No,Yes,No,NaN,NaN

Eliminamos los libros que ya están en books para que no estén en new_books. Para ello, miramos si el título y el autor coinciden.

In [21]:
print(new_books.shape)
new_books = new_books[~new_books.apply(lambda x: (x['Book Title'] in books['Book Title'].values), axis=1)]
# new_books = new_books[~new_books.apply(lambda x: (x['Book Title'] in books['Book Title'].values) and (x['Author'] in books['Author'].values), axis=1)]
print(new_books.shape)

(6576, 13)

(6144, 13)

Concatenamos books y new books y los mezclamos para que los datos no estén ordenados. Podemos diferenciar los dos datasets porque los datos de books tendrán un rating count mayor a 0 a diferencia de los libros nuevos.

In [22]:
books = pd.concat([books, new_books], ignore_index=True)

books = books.sample(frac=1).reset_index(drop=True)

books

,Book Title,Author,Publication Year,Genres,Summary,Rating Count,Average Rating,Number of Pages,Best Seller,Film,Saga,Followed by,Preceded by
0,Davita's Harp,Chaim Potok,1990,NaN,"In New York City of the 1930s, Ilana Davita C...",12.0,7.714286,371.0,No,No,No,NaN,NaN
1,Assassin's Quest,Robin Hobb,1997,['Fantasy'],FitzChivalry Farseer has been raised from deat...,0.0,NaN,742848.0,False,False,The Farseer Trilogy,NaN,Royal Assassin
2,The Ill-Made Knight,Meg Cabot,1940,['Fantasy'],Much of The Ill-Made Knight takes place mainly...,0.0,NaN,291.0,False,False,The Once and Future King,The Candle in the Wind,The Queen of Air and Darkness
3,Letter from Peking,Pearl S. Buck,1957,"['Fiction', 'Historical novel']","In September 1950, Elizabeth MacLeod is livin...",1.0,5.000000,252.0,No,No,No,NaN,NaN
4,Invisible Monsters,Chuck Palahniuk,1999,"['Speculative fiction', 'Fiction', 'Novel']",The story concerns an unnamed disfigured woma...,32.0,7.750000,297.0,No,Yes,No,Survivor,Choke
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10876,The Mysteries of Udolpho,Ann Radcliffe,1794,['Gothic novel'],The Mysteries of Udolpho is a quintessential G...,0.0,NaN,<NA>,False,False,NaN,NaN,NaN
10877,LETTERS,John Barth,1979,['Epistolary novel'],NaN,0.0,NaN,772.0,False,False,NaN,NaN,NaN
10878,Mistborn: The Hero of Ages,Will Self,2008,['Fantasy novel'],The Hero of Ages is the prophesied savior of t...,0.0,NaN,572275.0,False,False,Mistborn,Mistborn: The Alloy of Law,Mistborn: The Well of Ascension
10879,The Chronoliths,Robert Charles Wilson,2001,"['Science Fiction', 'Speculative fiction', 'No...",Software designer Scott Warden is living with...,10.0,7.250000,301.0,No,No,No,NaN,NaN
10880,Thendara House,Marion Zimmer Bradley,1983,"['Science Fiction', 'Fantasy']",The novel concerns the dwelling of the Darkov...,5.0,7.333333,414.0,No,No,Darkover,The Shattered Chain,City of Sorcery

In [23]:
print(books.shape)
print(books['Book Title'].nunique())

repeated_titles = books[books.duplicated(subset='Book Title', keep=False)].sort_values(by='Book Title')
repeated_titles

(10881, 13)
10823

,Book Title,Author,Publication Year,Genres,Summary,Rating Count,Average Rating,Number of Pages,Best Seller,Film,Saga,Followed by,Preceded by
4997,A Taste for Death,Peter O'Donnell,1969,['Spy fiction'],Canadian Dinah Pilgrim (blind since 11) and he...,0.0,NaN,288.0,False,True,Modesty Blaise,The Impossible Virgin,"I, Lucifer"
5937,A Taste for Death,P. D. James,1988,"['Crime', ' mystery']","In the dingy vestry of St. Matthew's Church, P...",0.0,NaN,454.0,False,False,Adam Dalgliesh#7,Devices and Desires,Death of an Expert Witness
781,Black Sheep,Susan Hill,2013,NaN,The story is set in a bleak coal-mining villag...,0.0,NaN,144.0,False,False,NaN,NaN,NaN
6796,Black Sheep,Georgette Heyer,1966,"['Regency', ' Romance']","The novel is set in Bath, Somerset and centres...",0.0,NaN,336.0,False,False,NaN,NaN,NaN
8431,Bloodline,Bram Stoker,2005,"['Horror novel', ' gothic novel']",Bloodline takes place during World War I. John...,0.0,NaN,352.0,False,False,NaN,Bloodline: Reckoning,Dracula(unofficial)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,Treasure Island,Robert Louis Stevenson,2012,NaN,Young Jim Hawkins (Toby Regbo) discovers a map...,0.0,NaN,<NA>,False,True,NaN,NaN,NaN
1923,Wish You Were Here,Jodi Picoult,2021,NaN,NaN,0.0,NaN,310.0,False,False,NaN,NaN,The Book of Two Ways
6691,Wish You Were Here,Tom Holt,1998,"['Humor', ' fiction']",NaN,0.0,NaN,252.0,False,False,NaN,NaN,NaN
4789,World Without End,Ken Follett,2007,['Historical fiction'],The novel begins in the fictional city of King...,0.0,NaN,1024.0,False,False,NaN,A Column of Fire[1],The Pillars of the Earth
10646,World Without End,Joe Haldeman,1979,['Science fiction'],Captain Kirk and a landing party of four have ...,0.0,NaN,150.0,False,False,Star Trek,The Fate of the Phoenix,Trek to Madworld

In [24]:
books.to_csv(output_folder + "books.csv", index=False)